<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.mods.goGreen"
      xmlns:tools="http://schemas.android.com/tools"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="24" tools:overrideLibrary="com.google.android.gms.appindexing" />
    <application android:icon="@drawable/iconnn"
          android:label="@string/app_name">
        <activity android:name=".Initial"
            android:screenOrientation="portrait"
             android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sudoku"
            android:screenOrientation="portrait"
            android:label="Go Green"></activity>

        <activity android:name=".Information"
            android:screenOrientation="portrait"
            android:label="@string/Information"></activity>
             <!-- android:theme="@android:style/Theme.Dialog"-->>
        <activity android:name=".Prefs"
              android:label="@string/settings_title">
        </activity>
        <activity android:name=".EnergyEfficient"
            android:screenOrientation="landscape"
            android:label="Energy Efficiency"></activity>
        <activity android:name=".Trip"
            android:screenOrientation="portrait"
            android:label="Harry the Heap"></activity>
        <activity android:name=".TripLyrics"
            android:screenOrientation="portrait"
            android:label="Song Lyrics and Subtitles"></activity>
        <activity android:name=".TripMaterials"
            android:screenOrientation="portrait"
            android:label="What Makes Up Harry?"></activity>
        <activity android:name=".Recycling"
            android:screenOrientation="portrait"
            android:label="Recycling at MODS"></activity>
        <activity android:name=".Tip"
            android:screenOrientation="portrait"
            android:label="Climate Change"></activity>
        <activity android:name=".CliGreenhouse"
            android:screenOrientation="portrait"
            android:label="Climate Change"></activity>
        <activity android:name=".CliWeather"
            android:screenOrientation="portrait"
            android:label="Climate Change"></activity>
        <activity android:name=".CliWater"
            android:screenOrientation="portrait"
            android:label="Climate Change"></activity>
        <activity android:name=".Waste"
            android:screenOrientation="landscape"
            android:label="Diagram 1"></activity>
        <activity android:name=".Climate2"
            android:screenOrientation="landscape"
            android:label="Diagram 2"></activity>
        <activity android:name=".HouseGarage"
            android:screenOrientation="landscape"
            android:label="Garage"></activity>
        <activity android:name=".InGarage"
            android:screenOrientation="landscape"
            android:label="Car"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".HouseKitchen"
            android:screenOrientation="landscape"
            android:label="Kitchen"></activity>
        <activity android:name=".HouseBedroom"
            android:screenOrientation="landscape"
            android:label="Living Room"></activity>
        <activity android:name=".HouseBathroom"
            android:screenOrientation="landscape"
            android:label="Bathroom"></activity>
        <activity android:name=".EngeryEfficent0"
            android:screenOrientation="landscape"
            android:label="Energy Efficentcy Home"></activity>
        <activity android:name=".MyQuiz"
            android:screenOrientation="portrait"
            android:label="Quiz Time!"></activity>
        <activity android:name=".QuizEasy"
            android:label="Quiz Time!"></activity>
        <activity android:name=".Credits"
            android:screenOrientation="portrait"
            android:label="Credits"></activity>
        <activity android:name=".RecyclingMore"
            android:screenOrientation="portrait"
            android:label="What Should YOU Recycle?"></activity>
        <activity android:name=".RecCardboard"
            android:screenOrientation="portrait"
            android:label="Do's and Don'ts of Recycling Cardboard"></activity>
        <activity android:name=".RecPhone"
            android:screenOrientation="portrait"
            android:label="Do's and Don'ts of Recycling Electronic"></activity>
        <activity android:name=".RecCan"
            android:screenOrientation="portrait"
            android:label="Do's and Don'ts of Recycling Cans"></activity>
        <activity android:name=".RecPaper"
            android:screenOrientation="portrait"
            android:label="Do's and Don'ts of Recycling Paper"></activity>
        <activity android:name=".RecSocks"
            android:screenOrientation="portrait"
            android:label="Do's and Don'ts of Recycling Clothes"></activity>
        <activity android:name=".QuizAnswers"
            android:label="Quiz Answers"></activity>
        <activity android:name=".Hangman"
            android:screenOrientation="portrait"
            android:label="Hangman"></activity>
        <activity android:name=".HangmanPlay"
            android:screenOrientation="portrait"
            android:label="Hangman"></activity>
       <activity android:name=".Decay"
            android:screenOrientation="portrait"
            android:label="Decay"></activity>
        <activity android:name=".ClimateMap"
            android:screenOrientation="landscape"
            android:label="Climate Chage Around the World"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>